# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Model Files
*.pt
*.pth

# Database
*.
results/
__pycache__/
*.pyc
.venv/
venv/
saved_model/
results/